<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- fragment의 이름은 footer로 하고 fragment를 사용하는 쪽에서 'footer'를 호출하니 태그를 읽는듯 두 <footer>가 모두 랜더링 됨
     fragment의 이름을 정할 때 태그명은 피해야 할 듯-->

<!-- 사용하는 곳에서 th:insert="~{이 html의 경로} :: copy" -->
<footer th:fragment="copy">
   <p>========= Footer Zone =========</p>
</footer>

<!-- 파라미터를 사용하는 fragment -->
<footer th:fragment="copyParam (param1, param2)">
   <p>========= Footer Zone =========</p>
   <p th:text="|파라미터: ${param1}|"></p>
   <p th:text="|파라미터: ${param2}|"></p>
</footer>
</body>

</html>