<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
    <div class="py-5 text-center" style="width: 100%">
        <h1 style="text-align: center">404 오류 화면 스프링 부트 제공</h1>
    </div>
    <ul>
        <li>오류 정보</li>
            <ul>
                <li th:text="|timestamp: ${timestamp}|"></li>
                <li th:text="|status: ${status}|"></li>
                <li th:text="|error: ${error}|"></li>
            </ul>
        </li>
    </ul>
    <hr class="my-4">
</div>
</body>
</html>