<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="py-4 text-center">
        <h2>Test Form</h2>
    </div>

    <form th:action th:object="${form}" method="post">
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control">
        </div>

        <hr class="my-4">
        <div>CheckBox Test</div>
        <div>
            <div class="form-check">
                <input type="checkbox" th:field="*{tnf}" class="form-check-input">
                <label for="tnf" class="form-check-label">True or False</label>
            </div>
        </div>

        <hr class="my-4">
        <div>
            <div>취미 선택 (다중 선택 가능)</div>
            <div th:each="hobby : ${hobbies}" class="form-check">
                <input type="checkbox" th:field="*{hobbies}" th:value="${hobby.key}" class="form-check-input">
                <label th:for="${#ids.prev('hobbies')}" th:text="${hobby.value}"  class="form-check-label"></label>
            </div>
        </div>

        <hr class="my-4">
        <div>
            <div>주력 프로그래밍 언어 선택 (한 개만 선택 가능)</div>
            <div th:each="lang : ${language}" class="form-check form-check-inline">
                <input type="radio" th:field="*{language}" th:value="${lang.name()}" class="form-check-input">
                <label th:for="${#ids.prev('language')}" th:text="${lang.description}" class="form-check-label"></label>
            </div>
        </div>

        <hr class="my-4">
        <div>
            <div>국가 선택</div>
            <select th:field="*{country}" class="form-select">
                <option value="">***** 국 가 를 선 택 하 세 요 *****</option>
                <option th:each="c : ${country}" th:value="${c.name()}"
                        th:text="${c.description}"></option>
            </select>
        </div>


        <button class="btn-primary" type="submit">전송</button>
    </form>
</div>
</body>
</html>