<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 조회</h2>
  </div>
  상품명: <span th:text="${item.itemName}">상품명</span>
  <br/>

    <!--
        a태그의 href속성을 이용하여 첨부파일을 직접 다운로드받는 방식
        사용자가 해당 링크를 눌러 직접 다운로드
        서버측에서 링크 클릭시 해당 ID를 DB에서 조회하여 파일 경로를 Get
        Get한 경로의 파일을 Body로 제공하였음
        ❗️ 링크 클릭시 view에 랜더링되지 않고 다운로드 되도록 Content-Disposition 헤더를 설정해줘야 함
   함-->
  첨부파일: <a th:if="${item.attachFile}" th:href="|/attach/${item.id}|" th:text="${item.getAttachFile().getUploadFileName()}" /><br/>

    <!--
    img 태그의 src속성으로 바로 이미지 다운로드
    서버측에서 src로 지정한 url을 지정하여 매핑시키고 해당 메서드에서 이미지를 바로 출력 (@ResponseBody 사용했음)
    -->
  <img
          th:each="imageFile : ${item.uploadFileList}"
          th:src="|/images/${imageFile.getSaveFileName()}|"
          width="300" height="300"/>
</div>
</body>
</html>