<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 소스보기 </h1>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
    /* 정상적으로 username을 얻어오지만 " "로 감싸여있지 않음. (문자열이 아님)*/
  var username = [[${user.username}]];
    /* 정수의 경우 " "로 감싸여있지 않아도 되므로 정상적으로 랜더링 됨 */
  var age = [[${user.age}]];
    /* 자바스크립트 내추럴 템플릿 => HTML을 직접 접근하여 열어도 동작 */
  var username2 = /*[[${user.username}]]*/ "test username";
    /* 객체를 바로 넣게 되면 해당 객체의 toString을 호출한 결과가 저장됨 */
  var user = [[${user}]];
</script>

<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
  var username = [[${user.username}]];
  var age = [[${user.age}]];
  //자바스크립트 내추럴 템플릿 (랜더링 시 /* */, 파일에 바로 접근시 "test username"이 출력)
  var username2 = /*[[${user.username}]]*/ "test username";
  //객체 (Json타입)
  var user = [[${user}]];
</script>

<script th:inline="javascript">
    /*
        var user1 = {"username":"kim", "age":10}
        var user2 = {"username":"kim", "age":10}
        var user3 = {"username":"kim", "age":10}
     */
    [# th:each="user, userStat:${users}"]
    var user[[${userStat.count}]] = [[${user}]];
    [/]
</script>

</body>
</html>